.card {
  aspect-ratio: 1 / 1.6;
  border: 1px solid;
  cursor: pointer;
  position: relative;
  width: 56vmin;
  border-radius: 0.75rem;
}

.card:hover > .cardgradient {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.card:hover > .cardcontent {
  background-position: -10% 0%;
}

.cardgradient {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    rgb(99 102 241) 66%,
    #4e92f5 83.5%,
    #38bdf8 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 2;
  border-radius: 0.75rem;
}

.cardcontent {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%,
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: 100%;
  padding: 5vmin;
  position: relative;
  transition: background-position 350ms ease;
  width: 100%;
  z-index: 2;
}

@media (min-width: 1280px) {
  .card {
    width: 36vmin;
  }
}
